.item{
    
    border: 2px solid forestgreen;

}
.container{
    display: grid;
    /* grid-template-columns: 200px 200px 200px 200px; */
    /* grid-template-columns: repeat(4, 100px); */
     /* grid-template-columns: repeat(5, 1fr); repeats the items and spreads them evenly */

     /* grid-template-columns: 200px 200px auto; */
     grid-template-columns: 200px 200px;
     justify-content: space-around;
     

    gap: 10px;
}