main {
    background-color: honeydew;
    padding: 20px;


}

.food {
    border: 2px solid khaki;
    padding: 10px;
    background-color: rgba(144, 238, 144, 0.5);
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    box-shadow: 7px 7px 1px purple;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

}

.food img {
    width: 100%;
    border-radius: 10px;
}

button {
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: springgreen;
    margin-right: 2px;
    color: midnightblue;
    border: 1px solid midnightblue;
    cursor: pointer;

}

.food h3,
p {
    margin: 7px auto;
}

button:hover {
    background-color: violet;
}

.food p {
    color: teal;
}

/* Medium device */
@media screen and (min-width: 577px) and (max-width: 992px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* small device */
@media screen and (max-width: 576px) {
    .container {
        grid-template-columns: repeat(1, 1fr);
    }
}